@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif; /* Set the font style to Poppins */
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.home-bg {
    background-image: url('../assets/website_bg.jpg');
    height: 100vh; /* Set the height to 100% of the viewport height */
    width: 100%;
    position: relative; /* Fix the position of the div */
    margin: 0; /* Remove margins */
    padding: 0; /* Remove padding */
    top: 0; /* Position at the top */
    left: 0; /* Position at the left */
}

.pfp {
    width: 21vw; /* Set the width to 10% of the viewport width */
    height: auto; /* Keep the aspect ratio of the image */
    position: absolute; /* Position the image absolutely within the parent div */
    top: 55%; /* Position at the middle of the parent div */
    left: 50%; /* Position at the middle of the parent div */
    transform: translate(-50%, -50%); /* Offset the image by half its width and height to center it */
    border-radius: 50%;
}

.intro {
    font-size: 4em;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 4%;
    left: 40%;
}

.name {
    color: #edb211;
}

.desc {
    color: white;
    font-size: 1.5em;
    width: 43vw;
    position: absolute;
    top: 17%;
    left: 45%;
}

.links {
    font-size: 2.5em;
    font-weight: 600;
    position: absolute;
    color: white;
    top: 75%;
    left: 10%;
}

.icon {
    font-size: 5.5em;
    color: #edb211;
}

.icon-container {
    width: 22vw;
    display: flex; /* Make the container a flex container */
    justify-content: space-around; /* Space the icons evenly with equal space around them */
    position: absolute;
    top: 83%;
    left: 6.7%; 
}

/*Bobbing arrow animation */
.arrow{
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 15px;
    height: 15px;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 4s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.4s;
}
.arrow span:nth-child(3){
    animation-delay: -0.8s;
}
/*key frames for arrow animation */
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}


.exp-bg {
    background-color: #141414;
    background-size: cover;
    height: 205vh; /* Set the height to 100% of the viewport height */
    width: 100%; /* Set the width to 100% of the viewport width */
    position: relative; /* Fix the position of the div */
    margin: 0; /* Remove margins */
    padding: 0; /* Remove padding */
    top: 0; /* Position at the top */
    left: 0; /* Position at the left */
}

.sect-title {
    color: #edb211;
    font-size: 2.5em;
    font-weight: 600;
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#proj-title {
    color: #edb211;
    font-size: 2.5em;
    font-weight: 600;
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left-container {
    height: 200vh;
    width: 40vw;
    position: absolute;
    top: 7%;
    left: 4.3%;
}

.vertical-line {
    position: absolute;
    width: 0.3vw;
    height: 190vh;
    background-color: #edb211;
    top: 7%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.right-container {
    height: 200vh;
    width: 40vw;
    position: absolute;
    top: 7%;
    right: 4.3%;

}

.company {
    width: 100%;
}

#SiriusXM {
    width: 17vw;
    position: absolute;
}

#sxm-date {
    color: white;
    position: absolute;
    top: 3.7vh;
    right: 0%;
    font-size: 1.7em;
}

.xp-item {
    width: 100%;
}

.position {
    color: white;
    font-size: 1.5em;
    font-weight: 600;
}


.xp-item  ul {
    list-style: none; /* Remove default bullets */
}

.xp-item ul li::before {
    content: "•"; /* Add custom bullet */
    color: #edb211; /* Change bullet color */
    display: inline-block; /* Make the pseudo-element inline */
    width: 1em; /* Add space after the bullet */
    margin-left: -1em; /* Move the bullet to the left */
}

li {
    color: white;
    padding-top: 1vh;
    font-size: 1.2em;
}

#sxm-company {
    height: 16%;
}
#sxm-item {
    height: 16%;
}
#sxm-pos {
    padding-top: 0vh;
}

#vip-company {
    height: 18%;
}
#vip {
    width: 19vh;
}
#fung-group {
    color: white;
    font-size: 1.5em;
    width: 15vw;
}
#vip-date {
    color: white;
    top: 0vh;
    font-size: 1.7em;
    text-align: right;
    position: relative; /* Add this line */
    top: -19vh; 
}
#vip-item {
    height: 18%;
}


#trad-company {
    height: 19%;
}
#trading-date {
    color: white;
    top: 0vh;
    font-size: 1.7em;
    text-align: right;
    position: relative; /* Add this line */
    top: -10vh; 
}
#trad {
    width: 18vw;
}
#trad-item {
    height: 19%;
}
#trad-pos {
    font-size: 1.3em;
}

#icims-company {
    height: 21%;
}
#icims {
    width: 15vw;
}
#icims-date {
    color: white;
    top: 0vh;
    font-size: 1.7em;
    text-align: right;
    position: relative; /* Add this line */
    top: -7vh; 
}
#icims-item {
    height: 21%;
}

#easy-company {
    height: 20%;
}
#easy {
    width: 13vw;
}
#easy-date {
    color: white;
    top: 0vh;
    font-size: 1.7em;
    text-align: right;
    position: relative; /* Add this line */
    top: -15vh; 
}
#easy-item {
    height: 20%;
}

.project-bg {
    background-color: #141414;
    background-size: cover;
    height: 120vh; /* Set the height to 100% of the viewport height */
    width: 100%; /* Set the width to 100% of the viewport width */
    position: relative; /* Fix the position of the div */
    margin: 0; /* Remove margins */
    padding: 0; /* Remove padding */
    top: 0; /* Position at the top */
    left: 0; /* Position at the left */
    overflow: hidden;
}

#block-logo {
    width: 22vw;
    position: absolute;
}
#emulator {
    width: 12vw;
    position: absolute;
    left: 60%;
}
#block-link {
  color: white;
  font-weight: bold;
}

#block-item {
    height: 60vh;
}
#block-pos {
    padding-top: 0vh;
}
#block {
    height: 60vh;
}

#sensor {
    height: 45vh;
}
#sensor-pic {
    width: 25vw;
    position: absolute;
    left: 25%;
}
#sensor-item {
    height: 45vh;
}
#sensor-pos {
    padding-top: 0vh;
}