@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif; /* Set the font style to Poppins */
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.home-bg {
    background-image: url('../assets/website_bg.jpg');
    height: 100vh; /* Set the height to 100% of the viewport height */
    width: 100%;
    position: relative; /* Fix the position of the div */
    margin: 0; /* Remove margins */
    padding: 0; /* Remove padding */
    top: 0; /* Position at the top */
    left: 0; /* Position at the left */
}

.pfp {
    width: 21vw; /* Set the width to 10% of the viewport width */
    height: auto; /* Keep the aspect ratio of the image */
    position: absolute; /* Position the image absolutely within the parent div */
    top: 55%; /* Position at the middle of the parent div */
    left: 50%; /* Position at the middle of the parent div */
    transform: translate(-50%, -50%); /* Offset the image by half its width and height to center it */
    border-radius: 50%;
}

.intro {
    font-size: 4em;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 4%;
    left: 40%;
}

.name {
    color: #edb211;
}

.desc {
    color: white;
    font-size: 1.5em;
    width: 43vw;
    position: absolute;
    top: 17%;
    left: 45%;
}

.links {
    font-size: 2.5em;
    font-weight: 600;
    position: absolute;
    color: white;
    top: 75%;
    left: 10%;
}

.icon {
    font-size: 5.5em;
    color: #edb211;
}

.icon-container {
    width: 22vw;
    display: flex; /* Make the container a flex container */
    justify-content: space-around; /* Space the icons evenly with equal space around them */
    position: absolute;
    top: 83%;
    left: 6.7%; 
}

/*Bobbing arrow animation */
.arrow{
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 15px;
    height: 15px;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 4s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.4s;
}
.arrow span:nth-child(3){
    animation-delay: -0.8s;
}
/*key frames for arrow animation */
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}


.exp-bg {
    background-color: #141414;
    background-size: cover;
    height: 300vh; /* Set the height to 100% of the viewport height */
    width: 100%; /* Set the width to 100% of the viewport width */
    position: relative; /* Fix the position of the div */
    margin: 0; /* Remove margins */
    padding: 0; /* Remove padding */
    top: 0; /* Position at the top */
    left: 0; /* Position at the left */
}

.exp-title {
    color: #edb211;
    font-size: 2.5em;
    font-weight: 600;
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.company-container {
    height: 200vh;
    width: 40vw;
    background-color: gray;
    position: absolute;
    top: 7%;
    left: 4.3%;
}

.vertical-line {
    position: absolute;
    width: 0.3vw;
    height: 200vh;
    background-color: #edb211;
    top: 7%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.xp-desc-container {
    height: 200vh;
    width: 40vw;
    background-color: gray;
    position: absolute;
    top: 7%;
    right: 4.3%;
}